<header>
    <h1>{{title}}</h1>

  <b>  <a href="/">Weather</a>|&nbsp;&nbsp;&nbsp;
    <a href="/about">About</a>|&nbsp;&nbsp;&nbsp;
    <a href="/help">Help</a></b>
    <img src="/img/Weatherbg.jpg" class="img1">
</header>